:root {
  --primary-color: #1c232b;
  --primary-light-color: #4a525c;
  --secondary-color: #ffffff;
  --highlight-color: #f5a302;
}
body {
  width: auto;
  box-sizing: border-box;
  margin: 0;
  color: var(--secondary-color)
}

/* NAV BAR */
header {
  background-color: none;
  height: 4rem;
  width: 100%;
  position: absolute;
}
.logo {

}
button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  appearance: auto;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  top: 4rem;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}
.menu-icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 2.4rem;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0,0.4,0.4,1);
}
button:focus {
  width: 400px;
  height: 100vh;
  border-radius: 0px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 4rem 2rem;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6,0.0,0.4,1);
}

/* HERO */
#hero {
  color: var(--primary-color);
  background-color: var(--highlight-color);
  height: 100vh;
}

/* ABOUT */
#about {
  background-color: var(--primary-color);
  height: 60vh;
}

/* ATTRACTIONS */
#attractions {
  background-color: var(--primary-color);
  height: 60vh;
}

/* FOOTER */
footer {
  background-color: var(--primary-light-color);
}