:root {
  --primary-color: #1c232b;
  --primary-light-color: #4a525c;
  --secondary-color: #ffffff;
  --highlight-color: #f5a302;
}
html {
  background-color: var(--primary-color);
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  width: auto;
  box-sizing: border-box;
  margin: 0;
  color: var(--secondary-color)
}
.center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  max-width: 1600px;
}
.divider {
  border-top: 0.1rem solid var(--primary-light-color);
  width: 45%;
  height: 0.1rem;
  margin: auto;
  justify-self: center;
}
.hidden {
  opacity: 0;
  transition: all 0.5s ease-out;
  transform: translateX(8rem);
}
.show {
  opacity: 1;
  transform: translateX(0);
}
/* NAV BAR */
header {
  background-color: none;
  height: 4rem;
  width: 100%;
  position: absolute;
}
.logo {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: var(--primary-color);
  margin: auto 1rem;
}

#menu-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  appearance: auto;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  top: 4rem;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu-icon {
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 2.4rem;
}
#menu-button:hover {
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0,0.4,0.4,1);
}
#menu-button:focus, #menu-button:focus-within {
  width: 400px;
  height: 100vh;
  border-radius: 0px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 4rem 2rem;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6,0.0,0.4,1);
}
#menu-button:focus .menu-icon, #menu-button:focus-within .menu-icon {
  display: none;
}
.nav-links li {
  text-align: left;
  list-style-type: none;
  margin-bottom: 2rem;
}
.nav-links li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.nav-links li a:hover {
  color: var(--highlight-color);
}
/* HERO */
#hero {
  color: var(--primary-color);
  background-color: var(--highlight-color);
  height: 90vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
#hero h1 {
  margin: auto;
  font-weight: 900;
  font-size: max(min(6vw, 8rem), 3rem);
  width: 60vw;
  min-width: 1rem;
  animation: fadeIn 1s ease-out;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-4rem);}
  100% { opacity: 1; transform: translateY(0);}
}
/* ABOUT */
#about {
  background-color: var(--primary-color);
  height: auto;
  min-height: 70vh;
  flex-direction: column;
  margin: 4rem 3rem;
}
#about .container {
  column-count: 1;
}
@media only screen and (min-width: 855px) {
  #about {
    margin: 4rem auto;
  }
  #about .container {
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
  }
}
#about span {
  float: left;
  font-weight: 900;
  font-size: max(min(3vw, 3.5rem), 2rem)
}
#about p {
  font-size: 1.3rem;
  font-weight: 300;
}
/* ATTRACTIONS */
#attractions {
  background-color: var(--primary-color);
  width: 100%;
  margin: 4rem auto 8rem auto
}
#attractions .container {
  flex-direction: column;
}
#attractions h2 {
  font-size: max(min(3vw, 3.5rem), 2.2rem);
  margin: auto;
  color: var(--highlight-color)
}
#image-title {
  margin: 0 auto 4rem auto;
  font-size: 2rem;
  font-weight: bold;
}
#carousel {
  width: 800px;
  height: 480px;
  min-height: 480px;
  margin: auto;
}
#carousel img {
  border-radius: 15px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
img[data-index="1"] {
  opacity: 0.1; 
  transform: translate(-100%) scale(0.8, 0.8); 
  z-index: 0;
}
img[data-index="2"] {
  opacity: 0.5; 
  transform: translate(-50%) scale(0.9, 0.9); 
  z-index: 0;
}
img[data-index="3"] {
  opacity: 1; 
  transform: translate(0%) scale(1, 1); 
  z-index: 1;
}
img[data-index="4"] {
  opacity: 0.5; 
  transform: translate(50%) scale(0.9, 0.9); 
  z-index: 0;
}
img[data-index="5"] {
  opacity: 0.1; 
  transform: translate(100%) scale(0.8, 0.8); 
  z-index: 0;
}
#slider {
  appearance: none;
  width: 10rem;
  height: 1rem;
  background-color: var(--primary-light-color);
  outline: none;
  border-radius: 10px; 
  margin: 1rem auto;
}
#slider::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%; 
  background-color: var(--highlight-color);
  cursor: pointer;
}

/* FOOTER */
#footer{
  background-color: var(--primary-light-color);
  height: 16rem;
  align-content: flex-end;
}
#footer div {
  height: 1.2rem;
  margin: auto auto 2rem auto;
}
#footer a {
  color: var(--primary-color);
  font-size: 1.2rem;
}
#footer a:visited {
  color: var(--primary-color);
}